body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.webp'); /* Set the background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-size: cover; /* Cover the entire background */
    background-attachment: fixed; /* Fixed background position */
    background-position: center; /* Center the background image */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(251,247,245); /* Add a semi-transparent background color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    font-family: "Oswald", sans-serif;
}
.subtitle {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    font-family: "Oswald", sans-serif;
}
.content {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}
/* Define the CSS class for Oswald font */
.oswald-font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.line-container {
    border: 1px solid #ccc; /* Add border around each line */
    padding: 10px; /* Add padding to create space between text and border */
    margin-bottom: 10px; /* Add margin to create space between line containers */
    border-radius: 10px; /* Add border radius for rounded corners */
    font-weight: 400; /* You can adjust the weight as needed */
    transition: background-color 0.3s; /* Add transition effect for smoother hover */
    cursor: pointer; /* Change cursor style to pointer */
    border-width: 2px; /* Default border width */
    transition: border-color 0.5s ease, transform 0.5s ease, border-width 0.5s ease; /* Add transition for border-color, transform, and border-width */
}

.line-container:hover {
    background-color: rgb(227, 223, 220); /* Add a semi-transparent background color */
    border-color: black; /* Add border color change on hover */
    border-width: 4px; /* Adjust the thickness of the border */
    transform: scale(0.98); /* Scale down the size slightly */
}


/* Navbar Styles */
.navbar {
    background-color: #333;
    color: #fff;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000; /* Adjust the z-index as needed */
    font-family: "Oswald", sans-serif;
}

.navbar-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    font-family: "Oswald", sans-serif;
}

.navbar-links ul li {
    margin-right: 1rem;
    font-family: "Oswald", sans-serif;
}

.navbar-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: "Oswald", sans-serif; /* Use Oswald font */
    font-weight: 600; /* Increased font weight */
    font-size: 1.5rem; /* Adjust font size */
}

.navbar-links ul li a:hover {
    font-family: "Oswald", sans-serif;
    color: #a0a0a0;
}

/* Highlight Active Page */
.navbar-links ul li .nav-link.active {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: #ffcc00; /* Highlight color for the active page */
}

.center {
    display: block; /* Change the display to block */
    width: fit-content; /* Set a width to the element */
    margin: 0 auto; /* Center the element horizontally */
    text-align: center; /* Horizontally center the content inside the element */
    margin-bottom: 20px; /* Optional: Add some space from the top */
  }